/* CSS Document */
body {
	height:100%;
	max-height:100%;
	MARGIN: 0px;
	behavior:url("csshover3.htc");
}
#head {
	position:fixed;
	right:16px;
	width:100%;
	height:56px;
	z-index:500;
	background-color: #211094;
	background-image: url(Image/garisvert.gif);
	background-repeat: repeat-x;
}
/*Main Menu*/
#menuMediaVertical ul li {
	height:25px;
	line-height:25px;
	list-style:none;
	padding-left:0px;
	color:#000;
	cursor:pointer;
	display: block;
	margin-left: -30px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
#menuMediaVertical ul li:hover {
	background-color:#FC0;
	position:relative;
}
/*Sub Menu*/
#menuMediaVertical ul ul {
	display:none;
	position:absolute;
	left:85px;
	top:5px;
	border:1px solid #06F;
	background-color:#9CF;
	text-align:left;
	padding-left: 30px;
}
#menuMediaVertical ul li:hover ul {
	display:block;
}
#menuMediaVertical ul ul li {
	width:120px;
	float:left;
	display:inline;
	border:none;
	padding-left: 8px;
	text-decoration: none;
}
#menuMediaVertical ul ul li a {
	width:120px;
	float:left;
	display:inline;
	border:none;
	padding-left: 0px;
	text-decoration: none;
	color: #000;
}
#menuMediaVertical ul ul li:hover {
	text-decoration:none;
	border:none;
	background-color: #FC3;
	padding-left: 8px;
}
#menuMediaVertical ul ul li:visited {
	text-decoration:none;
	border:none;
	padding-left: 8px;
}
#menuMediaVertical li:hover ul li ul {
	display:none;
}
#menuMediaVertical ul ul li ul {
	left:110px;
	background-color:#FF0000;
}
#menuMediaVertical ul ul li:hover ul {
	display:block;
}
.menuPribadiVertical {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
	width: 144px;
	border-bottom-width: 0;
	color: #000;
	background-image: url(Image/metalica.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9A9A9A;
	border-right-color: #9A9A9A;
	border-bottom-color: #9A9A9A;
	border-left-color: #9A9A9A;
}
.menuPribadiVertical li a {
	background: white url(Image/glossyback.gif) repeat-x bottom left;
	color: #FFF;
	display: block;
	width: auto;
	padding: 3px 0;
	padding-left: 10px;
	text-decoration: none;
}
.menuPribadiVertical li a:active {
	color: #FFF;
}
.menuPribadiVertical li a:hover {
	background-image: url(Image/glossyback2.gif);
	color: #FF9900;
}
.menuPribadiVertical li a:visited {
	color: #FFF;
}
* html .menuPribadiVertical li a { /*IE only. Actual menu width minus left padding of A element (10px) */
	width: 134px;
}
H1 {
	FONT: bold 25px sans-serif;
	COLOR: #000000;
	WHITE-SPACE: normal;
	LETTER-SPACING: 0.1em;
	HEIGHT: auto;
	TEXT-ALIGN: center;
}
h2 {

}
H4 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 5px;
	FONT: italic bold 10pt Verdana, Arial, Helvetica, sans-serif;
	VERTICAL-ALIGN: middle;
	TEXT-TRANSFORM: none;
	COLOR: #000000;
	PADDING-TOP: 15px;
	WHITE-SPACE: normal;
	LETTER-SPACING: normal;
	HEIGHT: 28px;
	TEXT-ALIGN: left
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 0.66em
}
CODE {
	margin:0px auto;
	width:300px;
	text-align:left;
	padding:5px;
	background-color:#C0D4AF;
	border:1px solid black;
	font-size:12px;
}
PRE {
	COLOR: #F00
}
* html #head, * html #foot, * html #left {
	position:absolute;
}
html {
	height:100%;
	max-height:100%;
	padding:0;
	margin:0;
	border:0;
	font-size:90%;
	font-family: trebuchet ms, tahoma, verdana, arial, sans-serif;
	/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden;
/* */ }
#content {
	display:block;
	height:100%;
	max-height:100%;
	overflow:auto;
	padding-left:148px;
	position:relative;
	z-index:0;
	FONT: 13px Verdana, sans-serif;
	COLOR: #000000;
}
#content A {
	COLOR: #000000;
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
}
#content A:hover {
	COLOR: #0000FF;
	text-decoration: none;
}
#content P {
	padding:80 px;
}
div#content P {
	margin: 0px 1em 1em;
}
#content H3 {

}
#left {
	position:fixed;
	left:0;
	top:20px;
	height:100%;
	width:148px;
	background-position:0 center;
	color:#000000;
	z-index:400;
	background-image: url(Image/metalica.gif);
	background-repeat: repeat-y;
	text-decoration: none;
	display: block;
	list-style-type: none;
}
#pad1 {
	display:block;
	width:0px;
	height:100px;
	float:left;
}
.pad2 {
	display:block;
	height:36px;
	background-color: #FFF;
}

.batasMenu {
	display:block;
	height:4px;
}
#pad3 {
	display:block;
	width:18px;
	height:50px;
	float:left;
}
#wordsleft {
	float:left;
	top:100px;
	left:150px;
	height:200px;
	width:150px;
	background:#efd;
	border:1px solid #000;
	margin:5px;
	padding:5px;
}
#wordsright {
	float:right;
	top:100px;
	right:150px;
	height:200px;
	width:150px;
	background:#def;
	border:1px solid #000;
	margin:5px;
	padding:5px;
}
#wordsabsolute1 {
	position:absolute;
	top:280px;
	left:400px;
	background:#eee;
	border:1px solid #000;
	margin:5px;
	padding:5px;
	font-size:2em;
	color:#c00;
}
#wordsabsolute2 {
	position:absolute;
	top:280px;
	left:400px;
	background:#eee;
	border:1px solid #000;
	margin:5px;
	padding:5px;
	font-size:2em;
	color:#c00;
}
#wordsabsolute3 {
	position:absolute;
	top:280px;
	left:400px;
	background:#eee;
	border:1px solid #000;
	margin:5px;
	padding:5px;
	font-size:2em;
	color:#c00;
}
#wordsrelative {
	position:relative;
	top:10px;
	left:30px;
	background:#ddd;
	border:1px solid #000;
	margin:5px;
	padding:5px;
	font-size:2em;
	color:#c00;
	width:200px;
}
a.nav, a.nav:visited {
	display:inline-block;
	width:auto;
	height:25px;
	color:#000;
	font-weight:bold;
	line-height:normal;
	text-decoration: none;
	text-align: left;
	list-style-type: none;
}
a.nav:hover {
	color:#fc0;
}
#apDiv1 {
	position:absolute;
	width:97px;
	height:26px;
	z-index:4;
	left: 803px;
	top: 34px;
}
#fixpic {
	display:block;
 width:108px height:145px;
	position:fixed;
	bottom:0px;
	left:0;
}
* html #fixpic {
	position:absolute;
}
#foot {
	position:fixed;
	margin:0;
	bottom:0px;
	right:18px;
	display:block;
	width:100%;
	height:24px;
	color:#FFF;
	font-size:12px;
	z-index:1;
	background-color: #006;
}
#foot A {
	COLOR: #FFF;
	text-decoration: none;
}
#foot A:hover {
	COLOR: #FFF;
	text-decoration: underline;
	background-color: #03C;
}
#fixpicLeftTop {
	display:block;








 width:108px height:145px;
	position:fixed;
	right: 20px;
	top: 34px;
}
* html #fixpicLeftTop {
	position:absolute;
}
.padIsi {
	display:block;
	height:100px;
}
#HeadMenuHorizontal {
	position:absolute;
	margin:0;
	right:16px;
	display:block;
	color:#FFF;
	font-size:12px;
	z-index:4;
	background-color: #FFFFFF;
	top: 56px;
	height: 35px;
	width: 100%;
}
