/* 
	Resets defualt browser settings
	reset.css
*/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-size: 10px;
	vertical-align: baseline;
}
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #EBEBEB;
} 

td {
	border: 1px solid #EBEBEB;
}

.tblSelector {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #EBEBEB;
	table-layout:fixed;
}

.tblSelector td {
    word-wrap:break-word;
    padding-left: 6px;
    padding-right: 6px;
}
caption,th,td { text-align:center; font-weight:normal; } 
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }


html { border: 0; }
/*
	Page style
*/

body {
	letter-spacing: 0;
	color: #000000;
	background:url(../images/fondok.jpg) top center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	padding: 0px 0;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
a {
   outline: 0;
}

.transp {
/*background-image: url(../images/cellbg.png);*/
/*background-color: #F00;
opacity: 0.3;
filter:alpha (opacity=30);
-moz-opacity: 0.3;
*/
}

hr {
	color:#000;
	background-color:#000;
	height:1px; 
	border:none;	
}

#container {
	width: 900px;
	padding: 0px;
	margin: 0 auto;
	position: relative;
}

#containerDL {
	width: 500px;
	padding: 0px;
	position: relative;
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

td {
	text-align:center;
	vertical-align: middle;
}

td.description {
	color:#000;
	font-size: 12px;
}	
td.lien a{
	color:#c50f26;
	font-size: 12px;
}

td.lien a:link{
   text-decoration: none; 
   }

td.lien a:hover{
   color:#FF0000; 
   }

.infoDL {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	margin-left: 4px;
	margin-bottom: 4px;
}

.infoDL a{
	color:#c50f26;
	font-size: 12px;
}

.infoDL a:link{
   text-decoration: none; 
   }

.infoDL a:hover{
   color:#FF0000; 
   }

.tableItem{
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #EBEBEB;
	table-layout:fixed;
}

.tableItem td {
    word-wrap:break-word;
}
.tableAvecLogo{
	border-collapse: separate;
	border-spacing: 0;
	border: 0px solid #FF0000;
	table-layout:fixed;

}

.tdBorderless {
	border: 0px;
vertical-align:middle;
 text-align:center;
     text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;

}